* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

/* input::-ms-clear {
  display: none;
} */

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

/* button::-moz-focus-inner {
  padding: 0;
  border: 0;
} */

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 162%;
  color: #060919;
  background: #f7f5ed;
}

[class*=__container] {
  max-width: 1330px;
  padding: 0px 15px;
  margin: 0 auto;
}

.wrapper {
  /* max-width: 1600px;
  margin: 0 auto; */
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 112%;
}

.text {
  opacity: 0.7;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  display: inline-block;
  align-items: center;
  color: #ffffff;
  padding: 24px 32px;
  box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
  border-radius: 60px;
  transition: all 200ms ease;
  background: linear-gradient(90deg, rgb(252, 176, 69) 0%, rgb(253, 29, 29) 50%, rgb(131, 58, 180) 100%);
  animation: gradient 8s ease infinite;

  background-size: 400%;
} 

.btn:hover {
  font-weight: 700;
  animation-play-state: paused;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* ._ibg {
  position: relative;
} */
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 1099.98px) {
  .title {
    font-size: 2.25rem;
    line-height: 128%;
  }
  .text {
    font-size: 1rem;
    line-height: 162%;
  }
}
@media (max-width: 447.98px) {
  .text {
    opacity: 0.8;
  }
}
/* ======main============================================================== */
.header {
  background: #060919;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  gap: 20px;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  font-size: 1rem;
  line-height: 162%;
  display: flex;
}

.menu__items {
  display: flex;
  gap: 56px;
}

.menu__link {
  position: relative;
  color: #ffffff;
  transition: all 400ms ease 200ms;
}

.menu__link::before {
  position: absolute;
  content: "";
  height: 1.5px;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
  bottom: 0;
  left: 50%;
  width: 0;
  transition: all 400ms;
}

.menu__link:hover {
  color: #ff6a00;
}

.menu__link:hover::before {
  left: 0;
  width: 100%;
}

.header__btn {
  transition: all 400ms ease;
}

.header__burger {
  color: #ffffff;
  display: none;
  position: relative;
  z-index: 3;
  padding: 16px 32px;
  box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
  border-radius: 60px;
  transition: all 400ms ease;
  background: linear-gradient(90deg, rgb(252, 176, 69) 0%, rgb(253, 29, 29) 50%, rgb(131, 58, 180) 100%);
  animation: gradient 6s ease infinite;
  background-size: 400%;
}

.header__burger:hover {
  font-weight: 700;
  animation-play-state: paused;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
}

/*
.header__menu__item {
}
.header__btn {
} */
.block__one {
  position: relative;
}

.block__item {
  margin-bottom: 15px;
}

.block__title {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 800ms ease 200ms;
}

.block__title::after {
  content: "";
  position: absolute;
  top: 45%;
  right: -20px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(255, 250, 250);
  transition: all 500ms ease 200ms;
}

.block__title.active::after {
  transform: rotate(540deg);
}

.block__text {
  display: none;
}

.block__text {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 22;
}

.block__text a {
  color: #FFFFFF;
}

.block__text > *:not(:last-child) {
  margin-bottom: 8px;
}

/* ======adaptive============================================================== */
@media (max-width: 1023.98px) {
  .header__container {
    /* padding-left: 75px;
    padding-right: 75px; */
    min-height: 104px;
  }
  .header__logo {
    width: 81px;
  }
  .menu__items {
    gap: 52px;
  }
}
@media (max-width: 899.98px) {
  .header__container {
    min-height: 104px;
  }
  .header__btn {
    display: none;
  }
  body.lock {
    overflow: hidden;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background: none;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #060919;
    opacity: 0.7;
  }
  .header__burger {
    position: relative;
    display: inline-block;
    z-index: 3;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 100px 20px 20px 20px;
    justify-content: center;
    transition: all 600ms ease-out;
    overflow: auto;
    /* opacity: 0.7; */
    font-size: 2.3rem;
    text-align: center;
  }
  .menu__items {
    flex-direction: column;
    gap: 20px;
  }
  .menu__items li {
    padding: 15px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__burger.active {
    padding: 16px 32px;
    background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff0000 12.5%, #1900fd 100%);
    box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
    border-radius: 60px;
  }
  .block__text {
    top: 75px;
  }
  .block__text > *:not(:last-child) {
    margin-bottom: 15px;
  }
  .block__title.active {
    margin-bottom: 180px;
  }
}
.main {
  flex: 1 1 auto;
}

.section__intro {
  background: #060919;
  color: #ffffff;
  position: relative;
}

.intro__container {
  position: relative;
  z-index: 2;
}

.intro__block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.intro__content {
  padding-top: 70px;
  flex: 1 1 50%;
}

.intro__title {
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 100%;
  letter-spacing: -1px;
  margin-bottom: 56px;
  position: relative;
}

.intro__title::after {
  content: "";
  position: absolute;
  width: 125px;
  bottom: -10%;
  right: 16%;
  border: 4px solid #FFC947;
}

.intro__text {
  font-weight: 500;
  font-size: 21px;
  line-height: 162%;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 62px;
}

/* .intro__btn {
} */
.intro__image {
  flex: 1 1 50%;
  text-align: right;
}

.intro__image img {
  max-width: 100%;
}

.intro__banner {
  padding-top: 75px;
  margin: 0px -150px;
}

.intro__decore img {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  height: 100vh;
}

/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .intro__container {
    padding: 0px 20px;
  }
  .intro__content {
    padding: 0;
    flex: 1 1 50%;
  }
  .intro__image {
    flex: 1 1 50%;
    text-align: left;
  }
  .intro__title {
    font-size: 3.625rem;
    line-height: 124%;
    margin-bottom: 64px;
  }
  .intro__title::after {
    bottom: -23%;
    left: 0%;
  }
  .intro__text {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 171%;
    margin-bottom: 32px;
  }
  .intro__block {
    justify-content: center;
  }
  .intro__banner {
    padding-top: 30px;
    margin: 0px -15px;
  }
}
@media (max-width: 899.98px) {
  .intro__container {
    padding: 100px 15px 0px;
  }
}
@media (max-width: 767.98px) {
  .intro__block {
    flex-direction: column-reverse;
    text-align: center;
  }
  .intro__title::after {
    display: none;
  }
}
@media (max-width: 447.98px) {
  .intro__container {
    padding: 120px 15px 0px;
  }
  .intro__title {
    font-size: 2.25rem;
    line-height: 128%;
    margin-bottom: 16px;
  }
  .intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 32px;
  }
  .intro__banner {
    padding-top: 0px;
    /* margin: 0px -260px; */
  }
  .intro__image img {
    max-width: 100%;
    margin-left: -15px;
  }
}
/* ======.section__online ============================================================== */
/* 
.section__online {
} */
.online__container {
  padding: 120px 15px 70px 15px;
}

.online__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 135px;
  column-gap: 20px;
  row-gap: 87px;
}

.row__item {
  flex: 0 1 25%;
  display: flex;
}

.row__item img {
  max-width: 60px;
  margin-right: 15px;
}

.row__text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 156%;
  max-width: 220px;
}

/* ======online__colums============================================================== */
.online__colums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.online__image {
  flex: 1 1 55%;
  display: flex;
}

.online__content {
  flex: 1 1 45%;
}

.online__image img {
  max-width: 100%;
}

.online__title {
  margin-bottom: 52px;
}

.online__text {
  margin-bottom: 64px;
}

/* .online__component {
} */
.component__body {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.component__colum {
  display: flex;
  align-items: center;
  flex: 1 1 45%;
  color: #060919;
}

.component__colum img {
  margin-right: 16px;
  max-width: 52px;
}

.component__colum p {
  font-weight: 500;
  line-height: 162%;
  transition: all 400ms ease-out;
}

.component__colum p:hover {
  text-decoration: underline;
  color: #f98500;
}

/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .online__container {
    padding: 100px 15px 50px;
  }
  .online__row {
    justify-content: space-around;
  }
  .row__item {
    flex: 0 1 28%;
    display: flex;
  }
  .row__item:nth-child(3) {
    justify-content: center;
    flex: 1 1 100%;
    display: flex;
  }
  .online__content > *:not(:last-child) {
    margin-bottom: 32px;
  }
  .online__colums {
    justify-content: space-around;
    gap: 29px;
  }
  .online__image {
    flex: 0 0 45%;
    justify-content: center;
  }
  .online__content {
    flex: 0 0 45%;
  }
  .component__colum p {
    font-size: 1.125rem;
    line-height: 156%;
  }
  .online__colums {
    padding: 20px 0px 0px 0px;
  }
}
@media (max-width: 899.98px) {
  .row__item {
    flex: 1 1 45%;
  }
  .row__text {
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  .online__row {
    padding-bottom: 110px;
    column-gap: 20px;
    row-gap: 80px;
  }
  .online__colums {
    flex-direction: column;
  }
  .online__image {
    flex: 1 1 100%;
  }
  .online__content {
    flex: 1 1 100%;
  }
  .row__item {
    flex: 0 0 70%;
    display: block;
    text-align: center;
    gap: 15px;
  }
  .row__item img {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .row__item:nth-child(3) {
    flex: 0 0 70%;
    justify-content: start;
    display: block;
    text-align: center;
  }
}
@media (max-width: 447.98px) {
  .component__colum {
    display: flex;
    align-items: center;
    flex: 1 1 46%;
  }
  .component__body {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .component__colum p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 171%;
  }
  .component__colum img {
    margin-right: 8px;
    width: 45px;
  }
  .online__title {
    margin-bottom: 16px;
  }
  .online__text {
    margin-bottom: 32px;
  }
}
/* ======section__specify ============================================================== */
/* .section__specify {
} */
.specify__container {
  padding: 70px 15px;
}

.specify__colums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.specify__content {
  flex: 1 1 46%;
}

.specify__title {
  margin-bottom: 52px;
}

.specify__text {
  margin-bottom: 64px;
}

.specify__image {
  flex: 1 1 49%;
  display: flex;
  justify-content: end;
}

.specify__image img {
  max-width: 100%;
}

.specify__button {
  color: #ffffff;
}

@media (max-width: 1099.98px) {
  .specify__container {
    padding: 60px 15px;
  }
  .specify__colums {
    justify-content: space-around;
    gap: 20px;
  }
  .specify__title {
    margin-bottom: 32px;
  }
  .specify__text {
    margin-bottom: 32px;
  }
  .specify__content {
    flex: 0 0 42%;
  }
  .specify__image {
    flex: 0 0 42%;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .specify__colums {
    flex-direction: column-reverse;
    gap: 33px;
  }
}
@media (max-width: 447.98px) {
  .specify__title {
    margin-bottom: 16px;
  }
  .specify__text {
    margin-bottom: 40px;
  }
}
/* =====section__supported============================================================== */
.section__supported {
  position: relative;
}

.supported__container {
  padding: 164px 15px 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.supported__image {
  flex: 0 1 39%;
  position: relative;
  z-index: 5;
}

.supported__content {
  flex: 0 1 55%;
  position: relative;
  z-index: 5;
}

.supported__title {
  margin-bottom: 24px;
}

.supported__text {
  margin-bottom: 48px;
}

/* .supported__button {
}
.supported__btn {
} */
/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .supported__container {
    padding: 80px 15px;
    justify-content: space-around;
  }
  .supported__image {
    flex: 0 1 39%;
  }
  .supported__content {
    flex: 0 1 45%;
  }
  .supported__title {
    margin-bottom: 32px;
  }
  .supported__text {
    margin-bottom: 32px;
  }
}
@media (max-width: 767.98px) {
  .supported__container {
    flex-direction: column;
    justify-content: center;
  }
  .supported__image {
    flex: 1 1 100%;
  }
  .supported__content {
    flex: 1 1 100%;
  }
}
@media (max-width: 447.98px) {
  .supported__container {
    padding: 56px 15px;
  }
  .supported__title {
    margin-bottom: 16px;
  }
  .supported__text {
    margin-bottom: 40px;
  }
}
@media (min-width: 767.98px) {
  .supported__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 156, 1, 0.22) 0%, rgba(251, 184, 78, 0) 100%);
  }
}
/* ======.section__steps============================================================== */
.section__steps {
  background-color: #060919;
  color: #ffffff;
  position: relative;
}

.section__steps::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 100%;
  height: 100%;
  background: url("../img/main/steps__bg.svg");
}

.section__steps::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 100%;
  height: 100%;
  background: url("../img/main/steps__banner.png") 0 bottom/100% no-repeat;
}

.steps__container {
  padding: 60px 15px 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 65px;
}

.steps__image {
  flex: 1 1 58%;
  margin-left: -50px;
  padding-bottom: 130px;
  position: relative;
  z-index: 3;
}

.steps__content {
  flex: 1 1 50%;
  position: relative;
  z-index: 3;
}

.steps__image img {
  max-width: 100%;
}

.steps__title {
  margin-bottom: 24px;
}

.steps__text {
  margin-bottom: 63px;
}

.steps__components {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  position: relative;
  font-size: 1rem;
  line-height: 162%;
}

.steps__component > :first-child {
  margin-right: 24px;
}

.steps__components::before {
  content: "";
  position: absolute;
  top: 37%;
  left: 3%;
  width: 211px;
  height: 100px;
  background: url("../img/main/steps__decor.svg") 1px 1px/100% no-repeat;
}

.steps__component {
  color: #ffffff;
  align-items: center;
  display: flex;
  transition: all 400ms ease-out;
}

.steps__component:hover {
  text-decoration: underline;
  color: #f98500;
}

.component__left {
  align-self: flex-start;
}

.component__centr {
  align-self: center;
}

.component__right {
  align-self: flex-end;
}

/* ======adaptive============================================================== */
@media (max-width: 1199.98px) {
  .steps__components::before {
    top: 47%;
    left: -4%;
  }
}
@media (max-width: 1099.98px) {
  .steps__container {
    padding: 60px 15px 140px;
    justify-content: space-around;
  }
  .steps__image {
    flex: 0 1 40%;
    margin-left: 0px;
    padding-bottom: 80px;
  }
  .steps__content {
    flex: 0 1 40%;
  }
  .steps__title {
    margin-bottom: 32px;
    text-align: justify;
  }
  .steps__text {
    margin-bottom: 32px;
    text-align: justify;
  }
  .steps__components::before {
    top: 50%;
    left: -14%;
    width: 153px;
    height: 80px;
  }
  .section__steps::before {
    background: url("../img/main/steps__banner.png") center bottom/1290px 103px no-repeat;
  }
}
@media (max-width: 767.98px) {
  .steps__container {
    padding: 56px 15px 140px;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
  .steps__image {
    flex: 1 1 100%;
    padding-bottom: 0px;
  }
  .steps__content {
    flex: 1 1 100%;
  }
  .steps__components::before {
    display: none;
  }
  .steps__title {
    margin-bottom: 16px;
    text-align: start;
  }
  .steps__text {
    text-align: start;
  }
}
@media (max-width: 447.98px) {
  .steps__container {
    padding: 56px 15px 100px;
  }
  .section__steps::before {
    background: url("../img/main/steps__banner.png") center bottom/956px 76px no-repeat;
  }
}
/* ======section__read ============================================================= */
/* .section__read {
} */
.read__container {
  padding: 100px 15px;
}

.read__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read__head {
  max-width: 891px;
  text-align: center;
  margin-bottom: 24px;
}

.read__text {
  max-width: 697px;
  text-align: center;
}

.read__row {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.read__colum {
  flex: 0 1 25%;
}

.read__image {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.read__image img {
  max-width: 100%;
  border: 1px solid coral;
  border-radius: 17px;
  overflow: hidden;
  transition: all 400ms ease 100ms;
}

.read__image img:hover {
  transform: scale(1.15);
}

.read__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 131%;
  margin-bottom: 8px;
}

.read__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  color: #3e4150;
}

.read__button {
  display: flex;
  justify-content: center;
}

/* .read__btn {
} */
/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .read__colum {
    flex: 0 1 31%;
  }
  .read__colum:nth-child(3) {
    display: none;
  }
  .read__row {
    justify-content: space-around;
  }
}
@media (max-width: 767.98px) {
  .read__row {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0px;
  }
  .read__colum {
    flex: 1 1 100%;
  }
}
@media (max-width: 447.98px) {
  .read__title {
    max-width: none;
    text-align: left;
    margin-bottom: 16px;
  }
  .read__text {
    max-width: none;
    text-align: left;
  }
  .read__container {
    padding: 56px 15px;
  }
  .read__button {
    display: flex;
    justify-content: flex-start;
  }
}
/* ======adaptive============================================================== */
/* .section__awards {
} */
.awards__container {
  padding: 100px 15px;
}

.awards__head {
  text-align: center;
}

.awards__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 75px 0px;
}

.awards__column {
  flex: 1 1 45%;
}

.awards__items {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 32px;
  border-bottom: 1px solid #f98500;
}

.awards__img {
  margin-right: 32px;
}

/* .awards__img img {
} */
.awards__title {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 162%;
  color: #060919;
  flex: 1 1 20%;
}

.awards__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  text-align: center;
  color: #3e4150;
}

.awards__button {
  text-align: center;
}

/* .read__btn {
} */
/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .awards__container {
    padding: 56px 15px;
  }
}
@media (max-width: 767.98px) {
  .awards__column:last-child {
    display: none;
  }
  .awards__body {
    padding: 32px 0px;
  }
}
@media (max-width: 447.98px) {
  .awards__title {
    text-align: left;
  }
  .awards__title {
    font-size: 1rem;
    line-height: 162%;
  }
  .awards__text {
    font-size: 0.875rem;
    line-height: 171%;
  }
  .awards__button {
    text-align: left;
  }
}
.footer {
  background: #060919;
  color: #ffffff;
}

.footer__container {
  padding: 72px 15px;
}

.footer__body {
  padding-bottom: 40px;
  display: flex;
  gap: 64px;
  position: relative;
}

.footer__body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(226, 101, 34, 0.831372549);
}

.column__big {
  flex: 1 1 60%;
  max-width: 388px;
  margin-right: 300px;
}

.footer__logo {
  display: block;
  margin-bottom: 16px;
}

.footer__logo img {
  transition: all 500ms ease;
}

.footer__logo img:hover {
  transform: scale(1.1);
}

.footer__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
  margin-bottom: 32px;
}

.footer__social {
  display: flex;
  gap: 32px;
}

.footer__social img {
  max-width: 33px;
  transition: all 400ms;
}

.footer__social img:hover {
  transform: scale(1.3);
}

.footer__column {
  flex: 1 1 12%;
}

.footer__title {
  font-weight: 500;
  font-size: 1.315rem;
  line-height: 162%;
  margin-bottom: 16px;
}

.footer__items > *:not(:last-child) {
  margin-bottom: 16px;
}

.footer__item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
}

.footer__link {
  position: relative;
  color: #ffffff;
  transition: all 400ms;
}

.footer__link::before {
  position: absolute;
  content: "";
  height: 1.5px;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
  bottom: 0;
  left: 50%;
  width: 0;
  transition: all 400ms;
}

.footer__link:hover {
  color: #ff6a00;
}

.footer__link:hover::before {
  left: 0;
  width: 100%;
}

.footer__copy {
  padding-top: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
}

/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .footer__body {
    flex-wrap: wrap;
  }
  .column__big {
    flex: 1 1 100%;
    max-width: 388px;
    margin-right: 500px;
  }
  .footer__column {
    flex: 0 0 20%;
  }
}
@media (max-width: 991.98px) {
  .footer__column_big {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0px;
  }
}
@media (max-width: 447.98px) {
  .footer__container {
    padding: 32px 15px;
  }
  .footer__body {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .column__big {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0;
  }
  .footer__column {
    flex: 1 1 100%;
  }
  .footer__logo img {
    width: 123px;
    height: 26px;
  }
  .footer__social {
    justify-content: space-around;
  }
}