* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 162%;
  color: #060919;
  background: #f7f5ed;
}

[class*=__container] {
  max-width: 1330px;
  padding: 0px 15px;
  margin: 0 auto;
}

.wrapper {
  /* max-width: 1600px;
  margin: 0 auto; */
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 112%;
}

.text {
  opacity: 0.7;
}

.btn a {
  color: #ffffff;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  display: inline-block;
  align-items: center;
  color: #ffffff;
  padding: 24px 32px;
  box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
  border-radius: 60px;
  transition: all 200ms ease;
  background: linear-gradient(90deg, rgb(252, 176, 69) 0%, rgb(253, 29, 29) 50%, rgb(131, 58, 180) 100%);
  animation: gradient 8s ease infinite;
  background-size: 400%;
}

.btn:hover {
  font-weight: 700;
  animation-play-state: paused;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* ._ibg {
  position: relative;
} */
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 1099.98px) {
  .title {
    font-size: 2.25rem;
    line-height: 128%;
  }

  .text {
    font-size: 1rem;
    line-height: 162%;
  }
}

@media (max-width: 447.98px) {
  .text {
    opacity: 0.8;
  }
}

.section__intro {
  background: #060919;
  color: #ffffff;
  position: relative;
}

.intro__decore img {
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 100vh;
}

/* ======main============================================================== */
.header {
  background: #060919;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  gap: 20px;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  font-size: 1rem;
  line-height: 162%;
  display: flex;
}

.menu__items {
  display: flex;
  gap: 56px;
}

.menu__link {
  position: relative;
  color: #ffffff;
  transition: all 400ms ease 200ms;
}

.menu__link::before {
  position: absolute;
  content: "";
  height: 1.5px;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
  bottom: 0;
  left: 50%;
  width: 0;
  transition: all 400ms;
}

.menu__link:hover {
  color: #ff6a00;
}

.menu__link:hover::before {
  left: 0;
  width: 100%;
}

.header__btn {
  transition: all 400ms ease;
}

.header__burger {
  color: #ffffff;
  display: none;
  position: relative;
  z-index: 3;
  padding: 16px 32px;
  box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
  border-radius: 60px;
  transition: all 400ms ease;
  background: linear-gradient(90deg, rgb(252, 176, 69) 0%, rgb(253, 29, 29) 50%, rgb(131, 58, 180) 100%);
  animation: gradient 6s ease infinite;
  background-size: 400%;
}

.header__burger:hover {
  font-weight: 700;
  animation-play-state: paused;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
}

/*
.header__menu__item {
}
.header__btn {
} */
.block__one {
  position: relative;
}

.block__item {
  margin-bottom: 15px;
}

.block__title {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 800ms ease 200ms;
}

.block__title::after {
  content: "";
  position: absolute;
  top: 45%;
  right: -20px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(255, 250, 250);
  transition: all 500ms ease 200ms;
}

.block__title.active::after {
  transform: rotate(540deg);
}

.block__text {
  display: none;
}

.block__text {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 22;
}

.block__text a {
  color: #FFFFFF;
}

.block__text>*:not(:last-child) {
  margin-bottom: 8px;
}

/* ======adaptive============================================================== */
@media (max-width: 1023.98px) {
  .header__container {
    /* padding-left: 75px;
    padding-right: 75px; */
    min-height: 104px;
  }

  .header__logo {
    width: 81px;
  }

  .menu__items {
    gap: 52px;
  }
}

@media (max-width: 899.98px) {
  .header__container {
    min-height: 104px;
  }

  .header__btn {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }

  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background: none;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #060919;
    opacity: 0.7;
  }

  .header__burger {
    position: relative;
    display: inline-block;
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 100px 20px 20px 20px;
    justify-content: center;
    transition: all 600ms ease-out;
    overflow: auto;
    /* opacity: 0.7; */
    font-size: 2.3rem;
    text-align: center;
  }

  .menu__items {
    flex-direction: column;
    gap: 20px;
  }

  .menu__items li {
    padding: 15px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__burger.active {
    padding: 16px 32px;
    background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff0000 12.5%, #1900fd 100%);
    box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
    border-radius: 60px;
  }

  .block__text {
    top: 75px;
  }

  .block__text>*:not(:last-child) {
    margin-bottom: 15px;
  }

  .block__title.active {
    margin-bottom: 180px;
  }
}

.main {
  flex: 1 1 auto;
}

.intro__container {
  padding: 155px 15px 385px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.intro__content {
  flex: 0 1 65%;
}

.intro__img {
  flex: 0 1 30%;
  display: flex;
  justify-content: flex-end;
}

.intro__img img {
  width: 322px;
  height: 376px;
  margin-right: -36px;
  position: relative;
  z-index: 3;
}

.intro__title {
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 100%;
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 24px;
}

.intro__text {
  font-weight: 500;
  line-height: 162%;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 1099.98px) {
  .intro__container {
    padding: 58px 15px 252px;
  }

  .intro__title {
    font-size: 3.625rem;
    line-height: 124%;
    margin-bottom: 32px;
  }

  .intro__text {
    font-size: 0.875rem;
    line-height: 171%;
  }

  .intro__img img {
    width: 151px;
    height: 176px;
    margin-right: -50px;
  }

  .intro__content {
    flex: 0 1 62%;
  }
}

@media (max-width: 899.98px) {
  .intro__container {
    padding: 150px 15px 257px;
  }
}

@media (max-width: 767.98px) {
  .intro__container {
    flex-direction: column-reverse;
  }

  .intro__content {
    flex: 1 1 100%;
    text-align: center;
  }

  .intro__img {
    flex: 1 1 100%;
    justify-content: center;
  }

  .intro__img img {
    margin-right: 0;
  }
}

@media (max-width: 447.98px) {
  .intro__container {
    padding: 80px 24px 266px;
  }

  .intro__title {
    font-size: 2.25rem;
    line-height: 128%;
  }

  .intro__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 162%;
  }
}

.recomendation__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 34.5px;
  column-gap: 34.5px;
  row-gap: 32px;
  margin-top: -220px;
  position: relative;
}

.recomendation__colum {
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 133%;
  text-align: center;
  color: #ffffff;
  transition: 2s ease;
}

.recomendation__colum img {
  max-width: 100%;
  border-radius: 30px;
}

.recomendation__colum p {
  left: 0;
  bottom: 10%;
  padding: 0 20%;
  z-index: 3;
  position: absolute;
}

.recomendation__colum:nth-child(1)::after,
.recomendation__colum:nth-child(2)::after,
.recomendation__colum:nth-child(3)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 2;
  border-radius: 0 0 26px 26px;
  transition: 2s ease;
}

.recomendation__colum:nth-child(1)::after {
  background: linear-gradient(180.3deg, rgba(255, 155, 0, 0) 0.26%, #ff9b00 99.74%);
}

.recomendation__colum:nth-child(2)::after {
  background: linear-gradient(180.3deg, rgba(0, 0, 255, 0) 0.26%, #0000ff 99.74%);
}

.recomendation__colum:nth-child(3)::after {
  background: linear-gradient(180.3deg, rgba(237, 28, 36, 0) 0.26%, #ed1c24 99.74%);
}

.recomendation__colum:hover.recomendation__colum:nth-child(1)::after {
  height: 100%;
  background: linear-gradient(180.3deg, rgba(255, 155, 0, 0) 0.26%, rgba(255, 153, 0, 0.6470588235) 99.74%);
}

.recomendation__colum:hover.recomendation__colum:nth-child(2)::after {
  height: 100%;
  background: linear-gradient(180.3deg, rgba(0, 0, 255, 0) 0.26%, rgba(0, 0, 255, 0.6352941176) 99.74%);
}

.recomendation__colum:hover.recomendation__colum:nth-child(3)::after {
  height: 100%;
  background: linear-gradient(180.3deg, rgba(237, 28, 36, 0) 0.26%, rgba(237, 28, 35, 0.6901960784) 99.74%);
}

@media (max-width: 1099.98px) {
  .recomendation__container {
    gap: 22px;
    margin-top: -220px;
    position: relative;
  }

  .recomendation__colum {
    font-size: 1rem;
    line-height: 175%;
  }
}

@media (max-width: 700px) {
  .recomendation__container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
  }

  .recomendation__colum {
    max-width: 410px;
    margin: 0 20px;
  }
}

.our__container {
  padding: 104px 15px;
}

.our__title {
  margin-bottom: 52px;
}

.our__text {
  margin-bottom: 64px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.content__box {
  flex: 1 1 44%;
}

.img__box {
  flex: 1 1 56%;
  display: flex;
  justify-content: right;
}

.img__box img {
  max-width: 100%;
}

@media (max-width: 1099.98px) {
  .our__container {
    padding: 56px 15px;
  }

  .our__title {
    margin-bottom: 32px;
  }

  .our__text {
    margin-bottom: 64px;
  }
}

@media (max-width: 767.98px) {
  .block {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .img__box {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 447.98px) {
  .our__title {
    margin-bottom: 16px;
  }

  .our__text {
    margin-bottom: 32px;
  }
}

.founder__container {
  padding: 72px 15px;
}

.founder__head {
  padding-bottom: 90px;
  max-width: 526px;
}

.founder__title {
  margin-bottom: 16px;
}

.founder__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 131%;
  opacity: 0.7;
}

.slider {
  display: flex;
  justify-content: flex-start;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;

}

.slider__item:not(:last-child) {
  margin: 0 35px 0 0;
}

.slider__item {
  position: relative;

}

.founder__image img {
  max-width: 100%;
  border-radius: 26px;
}

.founder__content {
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 7%;
  left: 16%;
  color: #fff;
}

.founder__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 131%;
  margin-bottom: 8px;
}

.founder__position {
  font-weight: 400;
  font-size: 21px;
  line-height: 162%;
}

.founder__image:hover.decor1::after {
  height: 0%;
}

.founder__image:hover.decor2::after {
  height: 0%;
}

.founder__image:hover.decor3::after {
  height: 0%;
}

.decor1::after,
.decor2::after,
.decor3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 2;
  border-radius: 0 0 26px 26px;
  transition: all 2s;
}

.decor1::after {
  background: linear-gradient(180.3deg, rgba(237, 28, 36, 0) 0.26%, #ed1c24 99.74%);
}

.decor2::after {
  background: linear-gradient(180.3deg, rgba(0, 0, 255, 0) 0.26%, #0000ff 99.74%);
}

.decor3::after {
  background: linear-gradient(180.3deg, rgba(255, 155, 0, 0) 0.26%, #ff9b00 99.74%);
}



@media (max-width: 1099.98px) {
  .founder__head {
    padding-bottom: 65px;
    max-width: none;
  }

  .founder__title {
    margin-bottom: 32px;
  }

  .founder__text {
    font-size: 1rem;
    line-height: 162%;
  }

  .founder__name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 133%;
    margin-bottom: 5px;
  }

  .founder__position {
    font-weight: 700;
    font-size: 13px;
    line-height: 169%;
  }

  .founder__content {
    left: 19%;
  }
}

@media (max-width: 900px) {
  .founder__content {

    left: 27%;
  }

}

@media (max-width: 767.98px) {}

@media(max-width:700px) {
  .slider__item.slick-active {
    margin: 0 0 0 -0.5%;
  }

  .decor1::after,
  .decor2::after,
  .decor3::after {
    width: 80%;
  }

  .founder__image img {
    max-width: 80%;
  }

  .founder__content {

    left: 10%;
  }
}

@media(max-width:600px) {
  .founder__content {
    left: 25%;
  }

}

@media(max-width:447px) {
  .founder__content {
    left: 14%;
  }

}

.section__creating {
  position: relative;
}

.creating__container {
  padding: 72px 15px 200px;
}

.creating__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 16%;
  bottom: 0;
  left: 0;
  background: url(../img/main/creating__banner.png) center/cover no-repeat;
}

.creating__title {
  margin-bottom: 32px;
}

@media (max-width: 1099.98px) {
  .creating__container {
    padding-bottom: 175px;
  }

  .creating__container::after {
    height: 18%;
  }

  .creating__img img {
    max-width: 63%;
  }
}

@media (max-width: 767.98px) {
  .creating__img img {
    max-width: 100%;
  }

  .creating__container::after {
    height: 10%;
  }
}

@media (max-width: 447.98px) {
  .creating__container {
    padding-bottom: 134px;
  }

  .creating__title {
    margin-bottom: 16px;
  }

  .creating__container::after {
    height: 9%;
  }
}

.footer {
  background: #060919;
  color: #ffffff;
}

.footer__container {
  padding: 72px 15px;
}

.footer__body {
  padding-bottom: 40px;
  display: flex;
  gap: 64px;
  position: relative;
}

.footer__body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(226, 101, 34, 0.831372549);
}

.column__big {
  flex: 1 1 60%;
  max-width: 388px;
  margin-right: 300px;
}

.footer__logo {
  display: block;
  margin-bottom: 16px;
}

.footer__logo img {
  transition: all 500ms ease;
}

.footer__logo img:hover {
  transform: scale(1.1);
}

.footer__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
  margin-bottom: 32px;
}

.footer__social {
  display: flex;
  gap: 32px;
}

.footer__social img {
  max-width: 33px;
  transition: all 400ms;
}

.footer__social img:hover {
  transform: scale(1.3);
}

.footer__column {
  flex: 1 1 12%;
}

.footer__title {
  font-weight: 500;
  font-size: 1.315rem;
  line-height: 162%;
  margin-bottom: 16px;
}

.footer__items>*:not(:last-child) {
  margin-bottom: 16px;
}

.footer__item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
}

.footer__link {
  position: relative;
  color: #ffffff;
  transition: all 400ms;
}

.footer__link::before {
  position: absolute;
  content: "";
  height: 1.5px;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
  bottom: 0;
  left: 50%;
  width: 0;
  transition: all 400ms;
}

.footer__link:hover {
  color: #ff6a00;
}

.footer__link:hover::before {
  left: 0;
  width: 100%;
}

.footer__copy {
  padding-top: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
}

/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .footer__body {
    flex-wrap: wrap;
  }

  .column__big {
    flex: 1 1 100%;
    max-width: 388px;
    margin-right: 500px;
  }

  .footer__column {
    flex: 0 0 20%;
  }
}

@media (max-width: 991.98px) {
  .footer__column_big {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0px;
  }
}

@media (max-width: 447.98px) {
  .footer__container {
    padding: 32px 15px;
  }

  .footer__body {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .column__big {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0;
  }

  .footer__column {
    flex: 1 1 100%;
  }

  .footer__logo img {
    width: 123px;
    height: 26px;
  }

  .footer__social {
    justify-content: space-around;
  }
}