* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 162%;
  color: #060919;
  background: #f7f5ed;
}

[class*=__container] {
  max-width: 1330px;
  padding: 0px 15px;
  margin: 0 auto;
}

.wrapper {
  /* max-width: 1600px;
  margin: 0 auto; */
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 112%;
}

.text {
  color: rgba(255, 255, 255, 0.7);
}

.btn a {
  color: #ffffff;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  display: inline-block;
  align-items: center;
  color: #ffffff;
  padding: 24px 32px;
  box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
  border-radius: 60px;
  transition: all 200ms ease;
  background: linear-gradient(90deg, rgb(252, 176, 69) 0%, rgb(253, 29, 29) 50%, rgb(131, 58, 180) 100%);
  animation: gradient 8s ease infinite;
  background-size: 400%;
}

.btn:hover {
  font-weight: 700;
  animation-play-state: paused;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* ._ibg {
  position: relative;
} */
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 1099.98px) {
  .title {
    font-size: 2.25rem;
    line-height: 128%;
  }

  .text {
    font-size: 1rem;
    line-height: 162%;
  }
}

@media (max-width: 447.98px) {
  .text {
    opacity: 0.8;
  }
}

.section__intro {
  background: #060919;
  color: #ffffff;
  position: relative;
}

.intro__decore img {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  height: 100vh;
}

/* ======main============================================================== */
.header {
  background: #060919;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  gap: 20px;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  font-size: 1rem;
  line-height: 162%;
  display: flex;
}

.menu__items {
  display: flex;
  gap: 56px;
}

.menu__link {
  position: relative;
  color: #ffffff;
  transition: all 400ms ease 200ms;
}

.menu__link::before {
  position: absolute;
  content: "";
  height: 1.5px;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
  bottom: 0;
  left: 50%;
  width: 0;
  transition: all 400ms;
}

.menu__link:hover {
  color: #ff6a00;
}

.menu__link:hover::before {
  left: 0;
  width: 100%;
}

.header__btn {
  transition: all 400ms ease;
}

.header__burger {
  color: #ffffff;
  display: none;
  position: relative;
  z-index: 3;
  padding: 16px 32px;
  box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
  border-radius: 60px;
  transition: all 400ms ease;
  background: linear-gradient(90deg, rgb(252, 176, 69) 0%, rgb(253, 29, 29) 50%, rgb(131, 58, 180) 100%);
  animation: gradient 6s ease infinite;
  background-size: 400%;
}

.header__burger:hover {
  font-weight: 700;
  animation-play-state: paused;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
}

.block__one {
  position: relative;
}

.block__item {
  margin-bottom: 15px;
}

.block__title {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 800ms ease 200ms;
}

.block__title::after {
  content: "";
  position: absolute;
  top: 45%;
  right: -20px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(255, 250, 250);
  transition: all 500ms ease 200ms;
}

.block__title.active::after {
  transform: rotate(540deg);
}

.block__text {
  display: none;
}

.block__text {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 22;
}

.block__text a {
  color: #FFFFFF;
}

.block__text>*:not(:last-child) {
  margin-bottom: 8px;
}

/* ======adaptive============================================================== */
@media (max-width: 1023.98px) {
  .header__container {
    /* padding-left: 75px;
    padding-right: 75px; */
    min-height: 104px;
  }

  .header__logo {
    width: 81px;
  }

  .menu__items {
    gap: 52px;
  }
}

@media (max-width: 899.98px) {
  .header__container {
    min-height: 104px;
  }

  .header__btn {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }

  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background: none;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #060919;
    opacity: 0.7;
  }

  .header__burger {
    position: relative;
    display: inline-block;
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 100px 20px 20px 20px;
    justify-content: center;
    transition: all 600ms ease-out;
    overflow: auto;
    /* opacity: 0.7; */
    font-size: 2.3rem;
    text-align: center;
  }

  .menu__items {
    flex-direction: column;
    gap: 20px;
  }

  .menu__items li {
    padding: 15px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__burger.active {
    padding: 16px 32px;
    background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff0000 12.5%, #1900fd 100%);
    box-shadow: 0px 15px 36px rgba(246, 87, 20, 0.3);
    border-radius: 60px;
  }

  .block__text {
    top: 75px;
  }

  .block__text>*:not(:last-child) {
    margin-bottom: 15px;
  }

  .block__title.active {
    margin-bottom: 180px;
  }
}

.intro__container {
  padding-bottom: 80px;
}

.intro__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  position: relative;
  z-index: 3;
}

.intro__content {
  flex: 1 1 70%;
}

.intro__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 112%;
  margin-bottom: 24px;
}

.intro__items {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.intro__item {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}

.intro__item span {
  font-weight: 400;
  line-height: 162%;
  color: rgba(255, 255, 255, 0.64);
  margin-right: 8px;
}

.intro__img {
  flex: 1 1 30%;
  display: flex;
  justify-content: right;
}

.intro__fone {
  position: relative;
  z-index: 3;
}

.intro__fone img {
  border-radius: 16px;
}

.intro__image img {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  height: 73vh;
}

/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .intro__container {
    padding-bottom: 32px;
  }

  .intro__block {
    padding: 60px 0px;
  }

  .intro__content {
    flex: 1 1 60%;
  }

  .intro__title {
    font-size: 3.625rem;
    line-height: 124%;
    margin-bottom: 32px;
  }

  .intro__items {
    display: flex;
    gap: 32px;
  }

  .intro__img {
    flex: 1 1 40%;
    justify-content: center;
  }

  .intro__img img {
    max-width: 50%;
  }
}

@media (max-width: 899.98px) {
  .intro__container {
    padding-top: 50px;
  }
}

@media (max-width: 767.98px) {
  .intro__img {
    display: none;
  }
}

@media (max-width: 447.98px) {
  .intro__container {
    padding-bottom: 110px;
  }

  .intro__block {
    display: block;
    padding: 75px 0 67px;
  }

  .intro__content {
    flex: 1 1 100%;
  }

  .intro__title {
    font-size: 2.25rem;
    line-height: 128%;
    margin-bottom: 16px;
    text-align: center;
  }

  .intro__items {
    gap: 10px;
  }

  .intro__img {
    display: none;
  }

  .intro__fone {
    margin: 0 -40px;
  }
}

.section__article {
  position: relative;
}

.article__banner {
  position: absolute;
  width: 100%;
  height: 6.4%;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.article__container {
  padding: 64px 15px 312px;
  display: flex;
  justify-content: space-between;
  column-gap: 94px;
  row-gap: 124px;
}

.article__content {
  flex: 1 1 73%;
}

.article__images {
  flex: 1 1 27%;
}

.content__article {
  font-size: 1rem;
}

.content__article>*:not(:last-child, li) {
  margin-bottom: 29px;
}

.content__sub-title {
  font-size: 21px;
}

.content__text:nth-child(12) {
  margin-top: 60px;
}

.content__text:nth-child(13) {
  margin-top: 60px;
}

.content__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
}

.content__title h4 {
  margin-top: 60px;
}

.content__decore {
  display: flex;
  margin: 70px 0px;
}

.content__decore img {
  margin-right: 32px;
}

.list__first li {
  padding-left: 20px;
  position: relative;
}

.list__first li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 40%;
  left: 0;
  border-radius: 50%;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
}

.list__second li:not(:last-child) {
  margin-bottom: 29px;
}

.image__block {
  display: flex;
  flex-direction: column;
  row-gap: 52px;
  column-gap: 163px;
}

.box__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 128%;
  margin-bottom: 56px;
}

.box__image {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.box__image img {
  border: 1px solid #ff9b00;
  border-radius: 15px;
}

.box__sub-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 131%;
  text-align: justify;
  margin-bottom: 8px;
}

.box__text {
  font-size: 1rem;
  text-align: justify;
  color: #3e4150;
}

/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .article__container {
    padding: 54px 15px 174px;
    flex-direction: column;
    justify-content: center;
    row-gap: 56px;
  }

  .article__content {
    flex: 1 1 100%;
  }

  .article__images {
    flex: 1 1 100%;
  }

  .article__banner {
    height: 4%;
  }

  .image__block {
    flex-direction: row;
    justify-content: space-between;
  }

  .image__box {
    flex: 1 1 50%;
    max-width: 322px;
  }

  .image__box:first-child {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .image__block {
    flex-direction: column;
    justify-content: center;
  }

  .image__box {
    flex: 1 1 100%;
    max-width: none;
  }

  .image__box:first-child {
    display: block;
  }

  .article__banner {
    height: 3%;
  }
}

@media (max-width: 447.98px) {
  .article__container {
    padding: 33px 15px 120px;
  }

  .article__banner {
    height: 1.8%;
  }

  .content__article>*:not(:last-child, li) {
    margin-bottom: 24px;
  }

  .content__sub-title {
    font-size: 1rem;
  }

  .content__text:nth-child(12) {
    margin-top: 50px;
  }

  .content__text:nth-child(13) {
    margin-top: 0;
  }

  .content__title h4 {
    margin-top: 0;
  }

  .content__decore {
    display: block;
    margin-top: 56px;
  }

  .content__decore img {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

/* ======adaptive============================================================== */
.footer {
  background: #060919;
  color: #ffffff;
}

.footer__container {
  padding: 72px 15px;
}

.footer__body {
  padding-bottom: 40px;
  display: flex;
  gap: 64px;
  position: relative;
}

.footer__body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(226, 101, 34, 0.831372549);
}

.column__big {
  flex: 1 1 60%;
  max-width: 388px;
  margin-right: 300px;
}

.footer__logo {
  display: block;
  margin-bottom: 16px;
}

.footer__logo img {
  transition: all 500ms ease;
}

.footer__logo img:hover {
  transform: scale(1.1);
}

.footer__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
  margin-bottom: 32px;
}

.footer__social {
  display: flex;
  gap: 32px;
}

.footer__social img {
  max-width: 33px;
  transition: all 400ms;
}

.footer__social img:hover {
  transform: scale(1.3);
}

.footer__column {
  flex: 1 1 12%;
}

.footer__title {
  font-weight: 500;
  font-size: 1.315rem;
  line-height: 162%;
  margin-bottom: 16px;
}

.footer__items>*:not(:last-child) {
  margin-bottom: 16px;
}

.footer__item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
}

.footer__link {
  position: relative;
  color: #ffffff;
  transition: all 400ms;
}

.footer__link::before {
  position: absolute;
  content: "";
  height: 1.5px;
  background: radial-gradient(127.68% 423.02% at 31.82% -13.39%, #ff9b00 12.5%, #ed1c24 100%);
  bottom: 0;
  left: 50%;
  width: 0;
  transition: all 400ms;
}

.footer__link:hover {
  color: #ff6a00;
}

.footer__link:hover::before {
  left: 0;
  width: 100%;
}

.footer__copy {
  padding-top: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
}

/* ======adaptive============================================================== */
@media (max-width: 1099.98px) {
  .footer__body {
    flex-wrap: wrap;
  }

  .column__big {
    flex: 1 1 100%;
    max-width: 388px;
    margin-right: 500px;
  }

  .footer__column {
    flex: 0 0 20%;
  }
}

@media (max-width: 991.98px) {
  .footer__column_big {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0px;
  }
}

@media (max-width: 447.98px) {
  .footer__container {
    padding: 32px 15px;
  }

  .footer__body {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .column__big {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0;
  }

  .footer__column {
    flex: 1 1 100%;
  }

  .footer__logo img {
    width: 123px;
    height: 26px;
  }

  .footer__social {
    justify-content: space-around;
  }
}